body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#007BFF, lightblue);

}

div.container{
    margin-top: 7%
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 50px;
    background:linear-gradient(lightgray, #007BFF);
}

.search-section h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 61px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.search-section h1:hover{
    color: black;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background: url(/img/weather.png);
    opacity: 0.8;

}

#cityInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

#searchButton:hover {
    background: linear-gradient(green, yellow, red);
    color: black;
}

#history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#history button {
    margin: 5px;
    padding: 5px 10px;
    background-color: darkorange;
    border: none;
    cursor: pointer;
}

#history button:hover {
    background: url(/assets/img/weather.png);
}

.current-weather {
    text-align: center;
    margin-bottom: 20px;
}

.forecast-section {
    text-align: center;
}

.forecast-card {
    display: inline-block;
    width: 150px;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(lightblue, #2f93ff);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer{
    background: url(/assets/img/weather.png);
    color:white;
    font-weight: bolder;
    text-align: center;
    opacity: 80%;
    margin-top: 17%;
  }

  footer:hover{
    color: black;
  }
